.formulario__campo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
  }

  .formulario__label {
    display: block;
    font-size: 1.8rem;
    color: rgba(26, 27, 21, 0.8);
  }

  .horas {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 768px) {
    .horas {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .horas__hora, .horas__hora--deshabilitada, .horas__hora--seleccionada {
    color: #007df4;
    border: 1px solid #007df4;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
  }
  .horas__hora:hover, .horas__hora--deshabilitada:hover, .horas__hora--seleccionada:hover {
    cursor: pointer;
  }
  .horas__hora--seleccionada {
    background-color: #007df4;
    color: #FFFFFF;
  }
  .horas__hora--deshabilitada {
    border: 1px solid #64748B;
    color: #64748B;
    opacity: 0.5;
  }
  .horas__hora--deshabilitada:hover {
    cursor: not-allowed;
  }